@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

html {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family: 'Rubik', sans-serif;
  --colour-background-grey: #f0f0f1;
  --colour-background-darker-grey: #b0b0b0;
  --colour-pink-accent: #e9156c;
  --colour-dark-purple: #2d1871;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
